*~
_*
*.o
*.d
*.asm
*.sym
*.img
*.img.lock
vectors.S
bootblock
entryother
initcode
initcode.out
kernel
kernelmemfs
mkfs
fmt
.gdbinit
.vscode/
.bochsrc
bochsout.txt
serial.out
helloguest
helloguest.elf
